/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Home page container styles */
.home-body {
    transition: background-color 0.3s, color 0.3s;
}

.home-header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 10rem auto;
}

.profile {
    justify-self: right;
}

.profile-image {
    height: 20rem;
    width: auto;
    border-radius: 50%;
}

.home-intro-container {
    margin: 0 0 0 5rem;
    align-self: center;
    justify-self: left;
}


.home-title {
    font-size: 2rem;
}

.home-subtitle {
    margin: 2rem 0 0.5rem;
    font-size: 1.7rem;
}

.home-button {
    padding: 10px 20px;
    cursor: pointer;
    color: #333;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.home-button:hover {
    background-color: #444;
    color: #fff;
}

.home-main {
    padding: 50px 20px;
    text-align: center;
}

.home-footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.home-footer p {
    margin: 0;
}


.home-button.light-mode {
    background-color: #333;
    color: #fff;
}

/* Dark Mode Styles */
.home-body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

.home-header.dark-mode {
    background-color: #111;
    color: #f0f0f0;
}

.home-button.dark-mode {
    background-color: #444;
    color: #fff;
}

.home-main.dark-mode .home-subtitle {
    color: #f0f0f0;
}

.home-main.dark-mode .home-description {
    color: #ccc;
}

.home-footer.dark-mode {
    background-color: #111;
    color: #f0f0f0;
}


/* Mobile Responsive Styles */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        margin: 5rem auto;
        padding: 0 10px;
        text-align: center;
    }

    .home-intro-container {
        margin: 2rem 0 0 0;
        width: 66%;
        text-align: left;
    }
    .home-intro-container .home-intro {
        margin-bottom: 2rem;
    }

    .profile-image {
        height: 15rem;
    }

    .home-title {
        font-size: 1.5rem;
    }

    .home-main {
        padding: 30px 10px;
    }

    .home-button {
        width: 100%;
        max-width: 300px;
        margin: 1rem auto;
    }
}