.language-dropdown {
  padding: 6px 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.language-dropdown:focus {
  outline: none;
  border-color: #888;
}

body.light-mode .language-dropdown{
  background-color: #f1f1f1;
  color: #333;
}